body
{
  
  background: linear-gradient(130deg, orange 50%, cyan);
  width: 300px;
  height: 250px;
  justify-content: center;
  
  }

p{
    display: flex;
    font-size: 25px;
   padding: 10px;
   border-radius: 8px;
    border: 1px  solid #B33030;
}


/*input{
  border: none;
  border-bottom: 1px solid black;
  color: #FF0000;
}
::placeholder{
color: black;
}
.bglogin{
  position: absolute;
  left: 600px;
  top: 200px;
  bottom: 300px;
  background-color: #FFEDDB;
  width: 300px;

}*/